<!DOCTYPE HTML>
   
<html>
   
<head>
    
    <title>HTML5 Multiple File Upload Sample</title>
    
</head>
   
<body>
         <form action="api/Upload" enctype="multipart/form-data" method="POST">
             What is your name?
            <input name="submitter" size="40" type="text"><br>
             What files are you uploading?
             <input name="data" type="file" multiple="multiple">
             <br>
             <input type="submit" />
        
    </form>
  
</body>
  
</html>